<a href="https://colab.research.google.com/github/ncc-chandni/PythonPractice/blob/main/Python_RegEx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to check that a string contains only a certain set of characters (in this case a-z, A-Z and 0-9).

In [2]:
import re

def is_allowed(string):
  charc = r'[A-Za-z0-9]'
  return bool(re.search(charc, string))

print(is_allowed("*&%@#!}{"))

False

2. Write a Python program that matches a string that has an a followed by zero or more b's.

In [8]:
def find_a_match(string):
  charc = r'^a(b)*$'
  if re.search(charc, string):
    return "Found a match"
  else:
    return "Not a match"

print(find_a_match("abc"))
print(find_a_match("a"))

Not a match
Found a match

3. Write a Python program that matches a string that has an a followed by one or more b's.

In [10]:
def find_a_match(string):
  charc = r'ab+'
  if re.search(charc, string):
    return "Found a match"
  else:
    return "Not a match"

print(find_a_match("abc"))
print(find_a_match("a"))

Found a match
Not a match

4. Write a Python program that matches a string that has an a followed by zero or one 'b'.

In [11]:
def find_a_match(string):
  charc = r'ab?'
  if re.search(charc, string):
    return "Found a match"
  else:
    return "Not a match"

print(find_a_match("abc"))
print(find_a_match("a"))

Found a match
Found a match

5. Write a Python program that matches a string that has an a followed by three 'b'.

In [14]:
def find_a_match(string):
  charc = r'a(b){3}?'
  if re.search(charc, string):
    return "Found a match"
  else:
    return "Not a match"

print(find_a_match("abc"))
print(find_a_match("abbbbbbc"))

Not a match
Found a match

6. Write a Python program that matches a string that has an a followed by two to three 'b'.

In [15]:
def find_a_match(string):
  charc = r'a(b){2,3}?'
  if re.search(charc, string):
    return "Found a match"
  else:
    return "Not a match"

print(find_a_match("abc"))
print(find_a_match("abbbbbbc"))

Not a match
Found a match

7. Write a Python program to find sequences of lowercase letters joined by an underscore.

In [21]:
def find_a_match(string):
  charc = r'^[a-z]+[\_][a-z]+$'
  if re.search(charc, string):
    return "Found a match"
  else:
    return "Not a match"

print(find_a_match("aab_cbbbc"))
print(find_a_match("aab_Abbbc"))
print(find_a_match("Aaab_abbbc"))

Found a match
Not a match
Not a match

8. Write a Python program to find the sequences of one upper case letter followed by lower case letters.

In [28]:
def find_a_match(string):
  charc = r'[A-Z]+[a-z]+$'
  if re.search(charc, string):
    return "Found a match"
  else:
    return "Not a match"

print(find_a_match("AaBbGg"))
print(find_a_match("Python"))
print(find_a_match("aA"))

Found a match
Found a match
Not a match

9. Write a Python program that matches a string that has an 'a' followed by anything ending in 'b'.

In [30]:
def find_a_match(string):
  charc = r'^a.*b$'
  if re.search(charc, string):
    return "Found a match"
  else:
    return "Not a match"

print(find_a_match("AaBbGg"))
print(find_a_match("Python"))
print(find_a_match("aAb"))

Not a match
Not a match
Found a match

10. Write a Python program that matches a word at the beginning of a string.

In [31]:
def find_a_match(string):
  charc = r'^\w+'
  if re.search(charc, string):
    return "Found a match"
  else:
    return "Not a match"


print(find_a_match("Python "))
print(find_a_match(" aAb"))

Found a match
Not a match

11. Write a Python program that matches a word at the end of a string, with optional punctuation.

In [39]:
def find_a_match(string):
  charc = r'\w+\S*$'
  if re.search(charc, string):
    return "Found a match"
  else:
    return "Not a match"


print(find_a_match("Python"))
print(find_a_match(" aAb."))
print(find_a_match(" aAb. "))

Found a match
Found a match
Not a match

12. Write a Python program that matches a word containing 'z'.

In [48]:
def find_a_match(string):
  charc = r'\w*z.\w*'
  if re.search(charc, string):
    return "Found a match"
  else:
    return "Not a match"


print(find_a_match("Python"))
print(find_a_match(" azb."))
print(find_a_match(" z "))

Not a match
Found a match
Found a match

13. Write a Python program that matches a word containing 'z', not the start or end of the word.

In [50]:
def find_a_match(string):
  charc = r'\Bz\B'
  if re.search(charc, string):
    return "Found a match"
  else:
    return "Not a match"


print(find_a_match("Python"))
print(find_a_match(" azb."))
print(find_a_match(" z "))

Not a match
Found a match
Not a match

14. Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [59]:
def find_a_match(string):
  charc = r'^[a-zA-z0-9_]*$'
  if re.search(charc, string):
    return "Found a match"
  else:
    return "Not a match"


print(find_a_match("Python"))
print(find_a_match("1azb"))
print(find_a_match("+ "))

Found a match
Found a match
Not a match

15. Write a Python program that starts each string with a specific number.

In [61]:
def find_a_match(string):
  charc = r'^5'
  if re.search(charc, string):
    return "Found a match"
  else:
    return "Not a match"


print(find_a_match("Python"))
print(find_a_match("5 azb"))

Not a match
Found a match

Write a Python program to remove leading zeros from an IP address.

In [78]:
ip = "216.008.0940.196"
print(re.sub('\.[0]*','.',ip))

216.8.940.196

17. Write a Python program to check for a number at the end of a string.

In [82]:
def find_a_match(string):
  charc = r'[0-9]$'
  if re.search(charc, string):
    return "Found a match"
  else:
    return "Not a match"


print(find_a_match("Python5"))
print(find_a_match("5 azb"))

Found a match
Not a match

18. Write a Python program to search for numbers (0-9) of length between 1 and 3 in a given string.

In [115]:
charc = r'[0-9]{1,}'
results = re.finditer(charc, "Exercises number 1, 12000, 13, and 345 are important")
for n in results:
  if int(n.group(0)) > 0 and int(n.group(0)) < 1000:
    print(n.group(0))

1
13
345

19. Write a Python program to search for literal strings within a string.
Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox', 'dog', 'horse'

In [116]:
words = ['fox','dog','text']
text = 'The quick brown fox jumps over the lazy dog.'
for w in words:
  print(f"Searching for {w} in {text}")
  if re.search(w,text):
    print("Matched")
  else:
    print("Not Matched")

Searching for fox in The quick brown fox jumps over the lazy dog.
Matched
Searching for dog in The quick brown fox jumps over the lazy dog.
Matched
Searching for text in The quick brown fox jumps over the lazy dog.
Not Matched

20. Write a Python program to search for a literal string in a string and also find the location within the original string where the pattern occurs.

Sample text : 'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [123]:
word = 'fox'
text = 'The quick brown fox jumps over the lazy dog.'
match = re.search(word, text)
s = match.start()
e = match.end()
print(f'Found "{word}" in " {text}" from {s} to {e} ')

Found "fox" in " The quick brown fox jumps over the lazy dog." from 16 to 19

21. Write a Python program to find the substrings within a string.

text : 'Python exercises, PHP exercises, C# exercises'
word: 'exercises'

In [131]:
word = 'exercises'
text = 'Python exercises, PHP exercises, C# exercises'

for i in re.findall(word, text):
    print(f"Found '{i}' ")

Found 'exercises'
Found 'exercises'
Found 'exercises'

22. Write a Python program to find the occurrence and position of substrings within a string.

In [135]:
word = 'exercises'
text = 'Python exercises, PHP exercises, C# exercises'

for i in re.finditer(word, text):
    s = i.start()
    e = i.end()
    print(f"Found '{word}' from {s} to {e} ")

Found 'exercises' from 7 to 16
Found 'exercises' from 22 to 31
Found 'exercises' from 36 to 45

23. Write a Python program to replace whitespaces with an underscore and vice versa.

In [139]:
text = 'Python Exercises'
new_text = text.replace(' ','_')
print(new_text)
print(new_text.replace('_',' '))

Python_Exercises
Python Exercises

24. Write a Python program to extract year, month and date from an URL.

In [142]:
def extract_date(url):
  return re.findall(r'/(\d{4})/(\d{1,2})/(\d{1,2})/', url)

url1= "https://www.washingtonpost.com/news/football-insider/wp/2016/09/02/odell-beckhams-fame-rests-on-one-stupid-little-ball-josh-norman-tells-author/"
print(extract_date(url1))

[('2016', '09', '02')]

25. Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [143]:
import re
def change_date_format(dt):
        return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', dt)
dt1 = "2026-01-02"
print("Original date in YYY-MM-DD Format: ",dt1)
print("New date in DD-MM-YYYY Format: ",change_date_format(dt1))

Original date in YYY-MM-DD Format:  2026-01-02
New date in DD-MM-YYYY Format:  02-01-2026

26. Write a Python program to match if two words from a list of words start with the letter 'P'.

In [154]:
words = ["atom Python PHP", "Java JavaScript", "c c++"]

for w in words:
  if re.search(r'(P\w+)\s(P\w+)', w):
    print('matched')
  else:
    print('not matched')

matched
not matched
not matched

27. Write a Python program to separate and print the numbers in a given string.

In [161]:
text = "Ten 10, Twenty 20, Thirty 30"
charc = r'[0-9]{1,}'
for t in text:
  results = re.finditer(charc, text)
for n in results:
    print(n.group(0))

10
20
30

28. Write a Python program to find all words starting with 'a' or 'e' in a given string.

In [167]:
text = "The following example creates an ArrayList with a capacity of 50 elements. Four elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

char = r'[aeAE]\w+'

for t in text:
  results = re.finditer(char, text)
for n in results:
    print(n.group(0))

example
eates
an
ArrayList
apacity
elements
elements
are
en
added
ArrayList
and
ArrayList
ed
accordingly

29. Write a Python program to separate and print the numbers and their position in a given string.

In [177]:
text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."


for num in re.finditer(r'[0-9]+', text):
  s = num.start()
  e = num.end()
  print(f" The number in the given text is {num.group(0)} and is between {s} to {e}")

 The number in the given text is 50 and is between 62 to 64
 The number in the given text is 4 and is between 75 to 76

30. Write a Python program to abbreviate 'Road' as 'Rd.' in a given string.

In [178]:
street = '21 Ramkrishna Road'
print(street.replace('Road','Rd'))

21 Ramkrishna Rd

31. Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [185]:
text = 'Python Exercises, PHP exercises.'
print(re.sub('[ ,.]',':', text))

Python:Exercises::PHP:exercises:

32. Write a Python program to replace maximum 2 occurrences of space, comma, or dot with a colon.

In [187]:
text = 'Python Exercises, PHP exercises.'
print(re.sub('[ ,.]',':', text, 2))

Python:Exercises: PHP exercises.

33. Write a Python program to find all five-character words in a string.

In [189]:
text = 'The quick brown fox jumps over the lazy dog.'
print(re.findall(r'\w{5}', text))

['quick', 'brown', 'jumps']

34. Write a Python program to find all three, four, and five character words in a string.

In [190]:
text = 'The quick brown fox jumps over the lazy dog.'
print(re.findall(r'\w{3,5}', text))

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

35. Write a Python program to find all words that are at least 4 characters long in a string.

In [191]:
text = 'The quick brown fox jumps over the lazy dog.'
print(re.findall(r'\w{4,}', text))

['quick', 'brown', 'jumps', 'over', 'lazy']

36. Write a Python program to convert a camel-case string to a snake-case string.

In [192]:
def camel_to_snake(text):
        import re
        str1 = re.sub('(.)([A-Z][a-z]+)', r'\1_\2', text)
        return re.sub('([a-z0-9])([A-Z])', r'\1_\2', str1).lower()

print(camel_to_snake('PythonExercises'))

python_exercises

37. Write a python program to convert snake-case string to camel-case string.

In [193]:
def snake_to_camel(word):
        import re
        return ''.join(x.capitalize() or '_' for x in word.split('_'))

print(snake_to_camel('python_exercises'))

PythonExercises

38. Write a Python program to extract values between quotation marks of a string.

In [194]:
text1 = '"Python", "PHP", "Java"'
print(re.findall(r'"(.*?)"', text1))

['Python', 'PHP', 'Java']

39. Write a Python program to remove multiple spaces from a string.

In [195]:
text1 = 'Python      Exercises'
print(re.sub(r' +', ' ', text1))

Python Exercises

40. Write a Python program to remove all whitespaces from a string.

In [196]:
text1 = 'Python      Exercises'
print(re.sub(r' +', '', text1))

PythonExercises

41. Write a Python program to remove everything except alphanumeric characters from a string.

In [198]:
text1 = '**//Python Exercises// - 12. '
print(re.sub(r'\W','',text1))

PythonExercises12

42. Write a Python program to find URLs in a string.

In [199]:
text = '<p>Contents :</p><a href="https://w3resource.com">Python Examples</a><a href="http://github.com">Even More Examples</a>'
urls = re.findall('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', text)
print(urls)

['https://w3resource.com', 'http://github.com']

43. Write a Python program to split a string into uppercase letters.

In [201]:
text = "PythonTutorialAndExercises"
print(re.findall(r'[A-Z][^A-Z]*', text))

['Python', 'Tutorial', 'And', 'Exercises']

44. Write a Python program to do case-insensitive string replacement.

In [203]:
text = "PHP Exercises"
print(text.swapcase())

php eXERCISES

45. Write a Python program to remove ANSI escape sequences from a string.

In [204]:
text = "\t\u001b[0;35mgoogle.com\u001b[0m \u001b[0;36m216.58.218.206\u001b[0m"
print("Original Text: ",text)
reaesc = re.compile(r'\x1b[^m]*m')
new_text = reaesc.sub('', text)
print("New Text: ",new_text)

Original Text:  	google.com 216.58.218.206
New Text:  	google.com 216.58.218.206

46. Write a Python program to find all adverbs and their positions in a given sentence.

Sample text : "Clearly, he has no excuse for such behavior."

In [209]:
text = "Clearly, he has no excuse for such behavior."
for m in re.finditer(r'\w+ly', text):
  print(f"{m.group(0)} {m.start()} {m.end()}")

Clearly 0 7

47. Write a Python program to split a string with multiple delimiters.

Note : A delimiter is a sequence of one or more characters used to specify the boundary between separate, independent regions in plain text or other data streams. An example of a delimiter is the comma character, which acts as a field delimiter in a sequence of comma-separated values.

In [210]:
text = 'The quick brown\nfox jumps*over the lazy dog.'
print(re.split('; |, |\*|\n',text))

['The quick brown', 'fox jumps', 'over the lazy dog.']

48. Write a Python program to check a decimal with a precision of 2.

In [215]:
def is_decimal(num):
  if re.search(r'^[0-9]*\.[0-9]{2}$',num):
    return 'True'
  else:
    return "False"

print(is_decimal('123'))
print(is_decimal('0.21'))
print(is_decimal('e123.1214'))

False
True
False

49. Write a Python program to remove words from a string of length between 1 and a given number.

In [230]:
text = "The quick brown fox jumps over the lazy dog."
print(re.sub(r'\W*\b\w{1,3}\s', ' ', text))

 quick brown jumps over lazy dog.

50. Write a Python program to remove the parenthesis area in a string.
Sample data : ["example (.com)", "w3resource", "github (.com)", "stackoverflow (.com)"]
Expected Output:
example
w3resource
github
stackoverflow

In [238]:
items = ["example (.com)", "w3resource", "github (.com)", "stackoverflow (.com)"]
for item in items:
  print(re.sub(r'\(\.[a-z]+\)', '', item))

example
w3resource
github
stackoverflow

51. Write a Python program to insert spaces between words starting with capital letters.

In [239]:
def capital_words_spaces(str1):
  return re.sub(r"(\w)([A-Z])", r"\1 \2", str1)

print(capital_words_spaces("Python"))
print(capital_words_spaces("PythonExercises"))
print(capital_words_spaces("PythonExercisesPracticeSolution"))

Python
Python Exercises
Python Exercises Practice Solution